# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# PyTest
.pytest_cache/
src/transform/test_log

# VS Code
.vscode/

# Service Account Secrets
secrets/

# MacOS
.DS_Store
