blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudevents==1.10.1
colorama==0.4.6
deprecation==2.1.0
Flask==3.0.3
functions-framework==3.5.0
gunicorn==22.0.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pip==24.0
pluggy==1.5.0
pytest==8.2.1
requests==2.32.1
ruff==0.4.4
setuptools==70.0.0
urllib3==2.2.1
watchdog==4.0.0
Werkzeug==3.0.3
wheel==0.43.0
# 
lxml==5.2.2
pm4py==2.7.11.9
pydantic==2.7.1
pydantic_xml==2.11.0