blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cloudevents==1.10.1
colorama==0.4.6
deprecation==2.1.0
Flask==3.0.3
functions-framework==3.7.0
gunicorn==22.0.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pip==24.0
pluggy==1.5.0
pytest==8.2.2
requests==2.32.3
ruff==0.4.8
setuptools==70.0.0
urllib3==2.2.1
watchdog==4.0.1
Werkzeug==3.0.3
wheel==0.43.0
# 
lxml==5.2.2
pydantic==2.7.3
pydantic_xml==2.11.0
defusedxml==0.7.1