openapi: "3.0.3"
info:
  title: "BPMN-PNML-Transformer"
  description: "Transforms BPMN diagrams to PNML or PNML diagrams to BPMN."
  version: "1.0.0"
servers:
  - url: "https://europe-west3-woped-422510.cloudfunctions.net"
paths:
  "/transform":
    post:
      summary: "Returns the transformed diagram as XML."
      parameters:
        - name: direction
          in: query
          required: true
          schema:
            type: string
            enum: [bpmntopnml, pnmltobpmn]
          description: Specifies the direction of the transformation.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf: 
                - properties:
                    direction:
                      type: string
                      enum: [bpmntopnml]
                    bpmn:
                      type: string
                      description: 'Necessary parameter, if direction is "bpmntopnml".'
                  required: [direction, bpmn]
                - properties:
                    direction:
                      type: string
                      enum: [pnmltobpmnCa]
                    pnml:
                      type: string
                      description: 'Necessary parameter, if direction is "pnmltobpmn".'
                  required: [direction, pnml]
            examples:
              bpmntopnml:
                summary: Example of a BPMN to PNML request
                value:
                  bpmn: "<BPMN XML content here>"
              pnmltobpmn:
                summary: Example of a PNML to BPMN request
                value:
                  pnml: "<PNML XML content here>"
      responses:
        200:
          description: Successful Transformation
        400:
          description: Bad Request
        403:
          description: Access Forbidden
        404:
          description: Not Found
        408:
          description: Request Timeout after 60s
        413:
          description: Payload too large (max. 10 MB)
  "/health":
    get:
      summary: Shows the health status of transformer.
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        403:
          description: Access Forbidden
        404:
          description: Not Found
        408:
          description: Request Timeout after 60s