openapi: "3.0.0"
info:
  title: "BPMN-PNML-Transformer"
  description: "Transforms BPMN diagrams to PNML or PNML diagrams to BPMN."
  version: "1.0.0"
servers:
  - url: "https://europe-west3-woped-422510.cloudfunctions.net"
paths:
  "/transform":
    post:
      summary: "Returns the transformed diagram as XML."
      parameters:
        - name: direction
          in: query
          required: true
          schema:
            type: string
            enum: [bpmntopnml, pnmltobpmn]
          description: Specifies the direction of the transformation.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BPMNtoPNMLRequest'
                - $ref: '#/components/schemas/PNMLtoBPMNRequest'
            #examples:
             # bpmntopnml:
              #  summary: Example of a BPMN to PNML request
               # value:
                #  bpmn: "<BPMN XML content here>"
              #pnmltobpmn:
               # summary: Example of a PNML to BPMN request
                #value:
                 # pnml: "<PNML XML content here>"
      responses:
        200:
          description: Successful conversion
        400:
          description: Invalid input
  "/health":
    get:
      summary: Shows the health status of transformer.
      responses:
        200:
          description: OK
        400:
          description: Bad Request
components:
  schemas:
    BPMNtoPNMLRequest:
      type: object
      properties:
        bpmn:
          type: string
          description: BPMN XML content
      required:
        - bpmn
    PNMLtoBPMNRequest:
      type: object
      properties:
        pnml:
          type: string
          description: PNML XML content
      required:
        - pnml